.box {
    height: 10em;
    width: 10em;
}

.red {
    position: absolute;
    background: red;
    height: 5em;
    width: 5em;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
}

.blue {
    position: relative;
    background: blue;
}

.green {
    background: green;
    position: fixed;
}

.purple {
    background: purple;
}

.border-yellow {
    border: 5px solid goldenrod;
    box-sizing: border-box;
}